@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.2.js"></script>
    <script src="~/ScriptsAngularJs/root-controller.js"></script>
    <script src="~/SignalR/js" type="text/javascript"></script>
}

<div ng-app="app" ng-controller="CallCtrl">
    <div style="height:360px; display: flex; flex-direction: column;justify-content:space-between">
        <div style="display: flex;justify-content:space-between">
            <div id="1" class="desk" style="width:240px;height:120px;">
                1號桌
            </div>
            <div id="2" class="desk" style="width:200px;height:120px;">
                2號桌
            </div>
            <div id="3" class="desk" style="width:240px;height:120px;">
                3號桌
            </div>
            <div id="4" class="desk" style="width:200px;height:120px;">
                4號桌
            </div>
        </div>

        <div style="display: flex;justify-content:space-between">
            <div id="5" class="desk" style="width:120px;height:200px;">
                5號桌
            </div>
            <div id="6" class="desk" style="width:120px;height:200px;">
                6號桌
            </div>
            <div id="7" class="desk" style="width:120px;height:200px;">
                7號桌
            </div>
            <div id="8" class="desk" style="width:120px;height:200px;">
                8號桌
            </div>
            <div style="display: flex; flex-direction: column;justify-content:space-between">
                <div id="9" class="desk" style="width:120px;height:90px;">
                    9號桌
                </div>
                <div id="11" class="desk" style="width:120px;height:90px;">
                    11號桌
                </div>
            </div>
            <div style="display: flex; flex-direction: column;justify-content:space-between">
                <div id="10" class="desk" style="width:120px;height:90px;">
                    10號桌
                </div>
                <div id="12" class="desk" style="width:120px;height:90px;">
                    12號桌
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div style="display: flex">
        <span class="note" style="background-color:white"></span>空桌
        <span class="note" style="background-color:#FFE66F"></span>用餐中
        <span class="note" style="background-color:#66B3FF"></span>已訂位
        <span class="note" style="background-color:#02DF82"></span>清潔中
    </div>
</footer>

<script>
    var app = angular.module('app', [])
        .controller('CallCtrl', function ($scope, $rootScope, $http, $window) {
            jQuery.support.cors = true;
            $window.jQuery.connection.hub.url = $rootScope.SignalRUrl;
            var myHub = $window.jQuery.connection.CallHub;
            $window.jQuery.connection.hub.start();

            myHub.client.callService = function (deskNo) {
                deskService(deskNo);
            };
        }
        );
</script>

<script type="text/javascript">
    var deskData = [];
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Desk/GetAllDesk",
            dataType: "json",
            success: function (data) {
                deskData = data;
                for (var i = 1; i < 13; i++) {
                    setDesk(i);
                }
            },
            error: function (data) {
                alert("座位資料讀取失敗");
            }
        });
    });

    function setDesk(deskNo) {
        var desk = document.getElementById(deskNo);
        var deskInfo = deskData.find(desk => desk.DeskNo == deskNo);
        desk.style.backgroundColor = getDeskColor(deskInfo.DeskStatus);
        desk.innerHTML = deskInfo.Seat + "人座";
    }

    function getDeskColor(deskStatus) {
        switch (deskStatus) {
            case '空桌':
                return 'white';
                break;
            case '用餐中':
                return '#FFE66F';
                break;
            case '已訂位':
                return '#66B3FF';
                break;
            case '清潔中':
                return '#02DF82';
                break;
            default:
                return 'black';
        }
    }

    function deskService(deskNo) {
        alert(deskNo+"桌呼叫了服務!");
    }
</script>